img {
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    filter: grayscale(100%); 
    transition: all 0.3s ease-in-out; 
}

.activate-color {
  filter: grayscale(0%); 
}


img:hover {
    filter: grayscale(0%); 
}

 body {
     font-family: 'Cormorant', serif;
      margin: 0;
   }
  
 p{
  position: fixed;
  padding-top: 60vh;
  padding-right: 12vw;
  font-size:  3.5vw;
  line-height: 1.2;
  color: #333131;
 }

  h1{
    font-size: 12vw;
    line-height:.75;
    padding-right: 12vw;
    text-align: left;
    color: #333131;
    padding-top: 20vh;
    }

    /* .mainWrapper {
      display:flex;
    } */

    /* .textWrapper {
      position: fixed;
      /* width:70%; */
      /* display:flex;   
      height:100vh;
      margin-left: 600px;
    } */

    .mainWrapper {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
    } 
    
    .textWrapper {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;
      margin-bottom: 10vh;
    }

    @media only screen and (min-width: 768px) {
      img {
        width: 250px;
        height: 250px;
        display: inline-block;
        vertical-align: top;
      }
    
      .mainWrapper {
        flex-direction: row;
        align-items: flex-start;
      }
    
      .textWrapper {
        margin: 0;
      }
    }
    
    @media only screen and (min-width: 1024px) {
      p {
        font-size: 2.5vw;
      }
    
      h1 {
        font-size: 8vw;
      }
    }