html {
    height: 100%;
}

body {
    background-color: rgba(238, 0, 171, 1);
    color: #F9FE00;
    display: flex;
    height: 100%;
}
 
#home-link {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #F9FE00;
  }
  
.word {
    margin: auto;
    font-family: 'Signika', sans-serif;
    font-size: 8vw;
    color: #F9FE00;
}

.word span {
    display: none;
  }
  
.word span.italics {
    font-style: italic;
}

.word span.naacho:hover {
    cursor: pointer;

}
   
@media only screen and (max-width: 600px) { 
    #home-link {
      top: 10px;
      right: 10px;
      font-size: 3vw;
    }
  
    .word {
      font-size: 16vw;
    }
  }