body {
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	background-color: #222222;
	color: #ffffff;
  height: 15000px;
}

svg {
  position: fixed;
  top: 43%;
  left: 54%;
  transform: translateX(-50%) translateY(-50%);
  width: 72%;
  height: 72%;
}

header {
  appearance: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
}

select:focus {
  outline: none;
}

#data-container {
  z-index: 1;
  display: none;
}

.color-staten {
  fill:#FFA9AA;;
}

.color-bronx {
  fill: #A93C3D;;
}

.color-brooklyn {
  fill: #E8696B;
}

.color-manhattan {
  fill: #EF3A3C;;
}

.color-queens {
  fill: #B81F20;
}

footer{
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  background: #ffffff;
  color: #222222;
  padding: 24px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

p{
  margin-top:0px;
  font-size: 20px;
	font-weight: 500;
}

g:hover title {
  display: block;
}

.active {
  fill: none;
  stroke:#ffffff;
  transition: fill 0.5s;
}

